

.list{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    transition: 0.5s ease;
    transform: scaleX(0);
    transform-origin: right;
    background-color: white;
}

.active{
    transform: scaleX(1);
    position: absolute;
}

/* list section design */
ul>li>a:hover{
    color: #0ba60b;
}

/* icon with text and image section design */
.wallet_svg>img{
    width: 300px;
}

.boardImage>img{
    width: 100%;
}

/* list section design for large device */


.lg_device:hover .first_up{
    visibility: hidden;
}
.first_up{
    visibility: visible;
}
.lg_device:hover .first_down{
    visibility: visible;
}
.first_down{
    visibility: hidden;
}

@media (min-width: 640px) {
    .wallet_svg>img{
        width: 250px;
    }
    .boardImage>img{
        width: 70%;
    }
    
}

.dropdown_content{
    display: none;
}
.lg_device:hover .dropdown_content{
    display: block;
}